* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto !important;
}

body {
	background: black;
}

a {
	text-decoration: none;
}

.app {
	width: 100vw;
	min-height: 100vh;
}

.test-buttons {
	position: fixed;
	left: 0;
	bottom: 0;
	display: grid;

	button {
		padding: 8px;
		border: none;
		border: 1px solid lightgrey;
	}
}
